<div class="row">
  <div class="col-12 text-center">
    <img src="<%= asset_path 'like.svg'%>" alt="." width="150px" style="margin: 20px 0" >
    <h1 class="lato_titulo">Excelente</h1>
    <p class="lato_subtitulo">No tienes ningún Kobro pendiente</p>
    <p class="lato_observacion">Puedes enfocarte en nuevas ideas para tu negocio! </p>
  </div>
</div>
