<div id="buyers" class="row justify-content-center ">
  <div class="col-sm-11 offset-sm-1 contenedor" style="padding:20px 0">


    <div class="row">
      <div class="col-md-2">
        <h1>Calendario</h1>
      </div>
      <div class="col-md-2 offset-md-7" style="margin:10px">
        <%= link_to 'Nuevo Evento', new_event_path, class:"btn btn-outline-success btn-block" %>
      </div>
    </div>

    <div class="row" style="padding:0 20px;">
      <div id='calendar' data-token="<%= form_authenticity_token %>"></div>
      <%= render 'modal' %>
    </div>




  </div>
</div>
