<div class="row justify-content-center ">
  <div class="col-sm-11 offset-sm-1 contenedor" style="padding:20px 0">


<h1>Nuevo Evento</h1>

<%= render 'form', event: @event %>

<%= link_to 'Back', events_path, class:"btn btn-danger mar_izq" %>


</div>
</div>
