<div id="order_edit" class="row justify-content-center difuminar ">
  <div class="col-sm-11 offset-sm-1 contenedor" style="padding:20px 0">


<h1>Editing Order</h1>

<%= render 'form', order: @order %>

<%= link_to 'Show', @order, class:"btn btn-warning mar_izq" %> |
<%= link_to 'Back', root_path, class:"btn btn-danger"  %>





  </div>
</div>
