<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>


<table class="table">
  <% @orders.each do |order| %>
  <tr>
  <td><%= order.buyer.first_name + ' ' + order.buyer.last_name %></td>
  <td><%= order.product.name%></td>
  <td><%= order.product.price%></td>
  <td><%= order.status%></td>
  <tr>
  <% end %>
  </table>
