

<div class="kobritas">
  <div class="container">

  <div class="row stats_generales">
    <div class="col-12 col-md-2">
      <%= link_to 'Vender', buyers_path, class: 'btn btn-block btn-primary' %>
    </div>
    <div class="col-12 col-md-2">
      <%= image_tag 'kobra_black.svg' %>
      <h1>$ 105.000</h1>
    </div>
    <div class="col-12 col-md-2">
      <%= image_tag 'kobra_black.svg' %>
      <h1>$ 105.000</h1>
    </div>

  </div>


  <!--GRAFICO DE BARRAS-->
    <div class="row"
      <div class="col-10 offset-1">
        <div class="wrapper">
        <canvas id="myChart4"></canvas>
        </div>
      </div>
    </div>
</div>
</div>

<script>
  alert("Saca el script de la vista!");
  var ctx = document.getElementById("myChart4").getContext('2d');
  var myChart = new Chart(ctx, {
	type: 'bar',
	data: {
		labels: ["Enero","Febrero","Marzo","Abril","Mayo","Junio"],
		datasets: [{
			label: 'On Basket',
			backgroundColor: "#caf270",
			data: [1, 2, 3, 4, 5, 6],
		}, {
			label: 'Not Paid',
			backgroundColor: "#45c490",
			data: [7,8,9,10,11,12],
		}, {
			label: 'Paid',
			backgroundColor: "#008d93",
			data: [13,14,15,16,17,18],
		}],
	},
options: {
    tooltips: {
      displayColors: true,
      callbacks:{
        mode: 'x',
      },
    },
    scales: {
      xAxes: [{
        stacked: true,
        gridLines: {
          display: false,
        }
      }],
      yAxes: [{
        stacked: true,
        ticks: {
          beginAtZero: true,
        },
        type: 'linear',
      }]
    },
		responsive: true,
		maintainAspectRatio: false,
		legend: { position: 'bottom' },
	}
});
</script>
