<header class="animated fadeIn fast">
  <div class="parallax">
    <div class="row">
      <div class="logo_header col-10 offset-1 col-md-5 offset-md-6">
        <%= image_tag 'logo_home.svg'%>
      </div>
    </div>
  </div>
</header>

<section id="intro" class="row intro">
  <div class="col-12 col-md-5">
    <h3>Olvídate de la parte fome</h3>
    <p>Ser independiente o tener un negocio propio es apasionante hasta que hay que empezar a cobrar.
        Sabemos que de un minuto a otro las cobranzas pueden volverse un dolor de cabeza, pero Kobra puede ayudarte a tenerlo bajo control y recuperar esa plata que empiezas a dar por perdida.</p>
    <p>Queremos que dediques tu tiempo a mejorar tu servicio o a crear nuevos productos.</p>

    <p>Para las cobranzas está Kobra®</p>
  </div>
</section>


    <section id="cel1">
      <div class="parallax1">
        <div class="row ">
          <div class="col-10 offset-1 col-md-3 offset-md-1 text-right almedio celulares ">
            <h4>Todos tus clientes
              en una misma
              base de datos</h4>
          </div>
          <div class="col-10 offset-1 col-md-3 offset-md-4 almedio celulares ">
            <p>Ten a mano la info de todos tus clientes
    para revisar rápidamente el estado de sus pagos
    o por qué no aprovechar para hacer una
    mini campaña.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="cel2">
      <div class="parallax2">
        <div class="row ">
          <div class="col-10 offset-1 col-md-3 offset-md-1 text-right almedio celulares ">
            <h4>Asigna productos o servicios a un cliente para cobrarle a fin de mes. </h4>
            <h4 style="font-size:1.5em;margin-top:10px">O altiro, a Kobra no le importa, solo cobra.</h4>
          </div>
          <div class="col-10 offset-1 col-md-3 offset-md-4 almedio celulares ">
            <p>Puedes agregarle varios productos a un cliente en una canasta. Luego le cobras la canasta entera acumulada o puedes ir haciendo cobros por cada producto.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="cel3">
      <div class="parallax3">
        <div class="row ">
          <div class="col-10 offset-1 col-md-3 offset-md-1 text-right almedio celulares ">
            <h4 style="color:white">Un click,<br> Kobra <br>y listo</h4>
          </div>
          <div class="col-10 offset-1 col-md-3 offset-md-4 almedio celulares ">
            <p style="color:white">Cuando decides cobrar, tu cliente
              recibirá un mail con el link para pagarte
              a través de Webpay.</p>

            <p style="color:white">El estado del cobro no cambiará hasta que tu cliente
              pague la cuenta.</p>

            <p style="color:white">  No te preocupes estamos atentos.</p>
          </div>
        </div>
      </div>
    </section>

<section id="cuentas" class="cuentas row">
  <div class="col-12 col-md-7 mano">
  </div>
  <div class="col-12 col-md-5 almedio">
    <h3>Todas tus cuentas ordenadas</h3>
    <h2 style="font-size:1.5em;">y cobrándose por mail</h2>
    <p>Puedes revisar en tiempo real el estado de pago de todas tus cuentas,
      ordenarlas por antiguedad, por estado y volver a cobrarlas cuantas
      veces quieras.</p>
  </div>
</section>

<section>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag 'gim.jpg', class:"d-block w-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'consulta.jpg', class:"d-block w-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'quiropractico.jpg', class:"d-block w-100"%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </section>
