



  <div class="row stats_generales animated fadeIn alingTitulo">
    <div class="col-12 col-md-2 margen-cel">
      <h1>Planes</h1>
   </div>
  </div>


  <!--Cuerpo-->
  <div class="row blanco plans animated fadeIn">

    <div class="col-10 offset-1 col-md-8 offset-md-2 margen-cel text-center" style="padding:20px">
      <h2>Kobra tiene <span>un plan que se ajuste para ti</span>.
        Puedes empezar con nuestro plan grautuito para que pruebes como funciona y
        acostumbres tus clientes a <span>una mejor forma de pago</span>.
        Luego por que no pasar a premium y manejar toda tu cartera de clientes y productos en un solo lugar.
      </h2>
    </div>


  <div class="col-12 col-md-8 offset-md-2">
    <div class="row">

     <div class="col-6 plan">
        <h1>Free</h1>
        <h2>$0</h2>
        <p>mensual</p>

        <hr>
        <p>Total clientes: 3</p>
        <p>Productos: 3 </p>
        <hr>
        <button class="btn btn-primary">Tomar</button>
     </div>


     <div class="col-6 plan2">
            <h1>Premium</h1>
            <h2>$5.000</h2>
            <hr>
            <p>Total clientes: 200</p>
            <p>Productos: 500 </p>
            <p>Se paga una subscripción mensual </p>
            <hr>
            <%= link_to 'Ser Premium', pages_premium_path, class: 'btn btn-primary' %>

     </div>

    </div>
  </div>



  </div>
