<div class="row stats_generales animated fadeIn alingTitulo">
    <div class="col-12  margen-cel">
      <h1>Formulario Usuario Premium</h1>
   </div>
  </div>


  <!--Cuerpo-->
  <div class="row blanco plans animated fadeIn">

    <div class="col-10 offset-1 col-md-8 offset-md-2 margen-cel text-center">
      <h2><span>Felicitaciones!</span> Estas a punto de ordenar tu vida y poder concentrarte unicamente en tu negocio. Kobra se encargará del resto.
        Para poder recibir tus pagos con transbanks debe realizar algunos sencillos pasos.<span>Vamos!</span>.
      </h2>
    </div>

    <hr>


    <div class="col-10 offset-1 col-md-8 offset-md-2 margen-cel text-left requisitos">
      <h3>Sobre Transbank</h3>

      <p>Webpay es un servicio de Transbank que te permite recibir pagos de tus
        clientes con Tarjetas de Crédito, RedCompra, métodos prepagados y
        transferencias electrónicas de la mayoría de los bancos Chilenos.</p>

      <p>Cada transacción con Webpay incurre en una comisión cobrada por Transbank. </p>

      <p style="font-style:italic"> Esta se realiza automaticamente, es decir que si un cliente te pagara $10.000 a través del webpay
        y con tarjeta de debito (1,49%), recibirías en tu una transferencia de $9.851. </p>

        <hr>
      <h5>Requisitos</h5>
      <p> no me los sé</p>

      <hr>

      <h5>Proceso contratación de Transbank</h5>
      <p>Debes llamar a Transbank (xxxxx) y solicitar un codigo de sucursal para el <span>"Código Mall 34843538, de Kobra SPA"</span></p>
      <p> Ese número que te entreguen debes ponerlo en el formulario a continuación con el resto de la info sobre tus datos bancarios dirigir los pagos que recibas</p>

    </div>



      <div class="col-10 offset-1 col-md-6 offset-md-2 margen-cel">

        <h3>Formulario</h3>

        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Codigo de comercio Transbank</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="text" class="form-text text-muted">El número que te deben haber dado desde Transbank</small>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Banco</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Nombre de cuenta</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">rut</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Numero de la cuenta</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Tipo Cuenta Bancaria</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>


          <button type="submit" class="btn btn-primary btn-block">Guardar</button>
        </form>





      </div>
