<div id="products" class="row justify-content-center difuminar ">
  <div class="col-sm-11 offset-sm-1 contenedor text-center" style="padding:20px 20px">



        <img src="<%= asset_path 'like.svg'%>" alt="." width="150px" style="margin: 20px 0" >
        <h1 class="lato_titulo">Pago realizado con éxito</h1>
        <p class="lato_subtitulo">Si quieres saber más sobre Kobra</p>
        <a href="http://www.kobra.cl" class="lato_observacion">Visita nuestra </a>


</div>
</div>
