<div id="products" class="row justify-content-center difuminar ">
  <div class="col-sm-11 offset-sm-1 contenedor" style="padding:20px 20px">



<h1>Editing Buyer</h1>

<%= render 'form', buyer: @buyer %>

<%= link_to 'Show', @buyer, class:"btn btn-warning"%> |
<%= link_to 'Back', buyers_path, class:"btn btn-danger" %>


</div>
</div>
