<div id="products" class="row justify-content-center difuminar animated fadeIn fast">
  <div class="col-sm-11 offset-sm-1 contenedor" style="padding:20px 20px">



<h1>Editing Buyer</h1>

<%= render 'form', buyer: @buyer %>

<div style="margin-top:20px">
  <%= link_to 'Volver', @buyer, class:"btn btn-warning"%>
</div>

</div>
</div>
