/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require tether/dist/css/tether
 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome/css/font-awesome
 *= require dataTables.net-bs4/css/dataTables.bootstrap4
 *= require styles/app
 *= require fullcalendar/dist/fullcalendar
 *= require bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.min
 *= require landing
 *= stub active_admin
 *= require_self
 */

*{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body{
  margin: 0;
  background-color: #ECECEC;
}


h1{
  padding-left: 20px;
  font-family: 'Carter One', cursive;
}

td{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:#686868;
  cursor:pointer;
}

.alert {
    position: absolute;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    top: 0;
    z-index: 100;
    width: 100%;
    text-align: center;
}

.buscador{
background-color: #11212d;
color:white;
padding: 30px 0;
}


.contenedor{
  background-color: white;
  margin: 10px;
  padding:20px 0;

}
.pad_izq{
  padding-left:20px;
}

.mar_izq{
  margin-left:20px;
}

.mar_top{
  margin-top: 10px;
}

.nomargen{
  margin: 0;
}



.clickeable{
  color:black;
}

.bg-black{
  background-color: black;
  color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F5F5F5;
}


.btn a:visited {
color:white;
}

.btn-lg{
  border-radius: 0;
}

.logo{
  width: 20%;
}

.logo2{
  width: 200px;
}

.logo3{
  margin-top: 200px;
}

.container{
  padding-top: 20px;
  background-color: white;
}

.verde{
  background-color: #52bf90;
}

.serpientes, .kobritas{
  height: 100vh;
  background-image: url("http://www.andrealvarez.com/kobra/fondo1.svg");
  border: 2px solid white;
}

.kobritas{
  background-image: url("http://www.andrealvarez.com/kobra/kobritas.png");
}

.foto_cliente{
  border-radius: 100px;
  width: 30px;
}

.foto_buyer{
  border-radius: 150px;
  width: 150px;
  border: 4px solid white;
}

.buyer{
  background-color: #5089F0;
  padding: 20px 20px;
  color:white;
}

.buyer h1 {
  margin: 0;
  padding: 0;
  font-family: 'Carter One', cursive;
}

.buyer p{
  margin: 0;
  padding: 0;
}

.canasta_header{
  background-color: #5089F0;
  color:white;
}

.ico_canasta{
  width: 70px;
}

#canasta p{
  margin: 0;
}

.fondo_log{
  background-color: #11212d;
  color:white;
  height: 100vh;
  padding: 120px 0;
}

.fondo_reg{
  background-color: #11212d;
  color:white;
  padding: 80px 0;
}

.fc-content{
  color:white;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  .logo{
    width: 10%;
  }

  .mar_top{
    margin-top: 0;
  }

}

@media (min-width: 992px) {
.botones{
  margin-bottom: 20px;
}
}

@media (min-width: 1200px) {
}
