<div id="products" class="row justify-content-center difuminar animated fadeIn fast">
  <div class="col-sm-11 offset-sm-1 contenedor" style="padding:20px 0">


<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product, class:"btn btn-warning mar_izq" %> |
<%= link_to 'Back', products_path, class:"btn btn-danger"  %>





</div>
</div>
