<div id="products" class="row justify-content-center difuminar ">
  <div class="col-sm-11 offset-sm-1 contenedor" style="padding:20px 0">


<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product, class:"btn btn-warning" %> |
<%= link_to 'Back', products_path, class:"btn btn-danger mar_izq"  %>





</div>
</div>
